Flask
Flask-Cors
Flask-SQLAlchemy
requests
beautifulsoup4
google-generativeai
google-api-core
google-auth
SQLAlchemy
python-dotenv
sendgrid
twilio
Pillow
tqdm
psycopg2-binary
APScheduler
gunicorn
